// FOOTER
.layout__footer
  color: $colorWhite
  background-color: $colorSecondary900
  border-radius: 1.5rem 1.5rem 0 0
  padding: 3.25rem 0 2rem
  position: relative
  z-index: 2
  &::before
    content: ""
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: .75rem
    border-radius: 1.5rem 1.5rem 0 0
    background-color: $colorSecondary600
  .container
    grid-gap: 3.75rem
    display: grid
    align-items: flex-start
    position: relative
    @include mediaMinWidthTabletPort
      grid-template-columns: auto 18.5rem
      grid-gap: 0 6rem
    &::before
      content: ""
      position: absolute
      left: 0
      bottom: -2rem
      width: 18.25rem
      height: .75rem
      border-radius: 1.5rem 1.5rem 0 0
      background: linear-gradient(92.53deg, #DCC993 47.22%, #AC9470 63.81%)
      @include mediaMinWidthTabletPort
        left: auto
        right: 0
// MENU
.footer__menu
  display: grid
  @include mediaMinWidthTabletPort
    grid-gap: 3.625rem
.footer__nav
  &.footer__nav_primary
    display: grid
    align-items: flex-start
    grid-gap: 4rem 2rem
    @include mediaMinWidthMobile
      grid-template-columns: 1fr 1fr 1fr
    @include mediaMinWidthTabletPort
      grid-template-columns: 1fr 1fr 1fr 1fr
    .nav__groups
      display: grid
      align-items: flex-start
      grid-gap: 2rem
      &.nav__groups_secondary
        display: grid
        grid-column: span 1
        grid-template-columns: 1fr
        @include mediaMinWidthMobile
          grid-template-columns: 1fr 1fr 1fr
          grid-column: span 3
        @include mediaMinWidthTabletPort
          grid-template-columns: 1fr
          grid-column: span 1
    .nav__group
      display: grid
      opacity: .8
      grid-gap: 2rem
      @include mediaMinWidthTabletPort
        grid-gap: 1.25rem
    .nav__header
      .nav__title
        color: $colorSecondary300
        font-size: 1.625rem
        line-height: 2rem
        font-weight: 600
        font-family: $secondFont
        text-transform: uppercase
        @include mediaMinWidthMobile
          font-size: 1.5rem
          line-height: 2rem
    .nav__action
      color: $colorSecondary400
      font-size: 1.5rem
      line-height: 1.5rem
      font-weight: 700
      cursor: pointer
      position: relative
      white-space: nowrap
      text-decoration: none
      @include mediaMinWidthMobile
        font-size: 1.125rem
        line-height: 1.25rem
      &:before
        content: ""
        position: absolute
        top: calc(100% + .125rem)
        left: 0
        width: 100%
        border-top: .125rem dotted $colorSecondary400
        @include transition
      &:hover
        &:before
          width: 0

    .nav__list
      display: grid
      grid-gap: 1.5rem
      @include mediaMinWidthTabletPort
        grid-gap: 1.25rem
    .nav__item
      &:hover,
      &.nav__item_active
        .nav__link
          color: $colorSecondary300
    .nav__link
      color: $colorSecondary200
      font-size: 1.5rem
      line-height: 2rem
      @include transition
      @include mediaMinWidthMobile
        font-size: 1.25rem
        line-height: 1.5rem
  &.footer__nav_secondary
    display: none
    @include mediaMinWidthMobile
      display: block
      position: absolute
      left: 0
      bottom: 0
    @include mediaMinWidthTabletPort
      align-items: flex-end
      height: 100%
      display: flex
      position: unset
    .nav__list
      display: flex
      flex-wrap: wrap
      gap: 2rem
    .nav__item
      &:hover,
      &.nav__item_active
        .nav__link
          color: $colorWhite
    .nav__link
      color: $colorSecondary700
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 700
      @include transition


// ABOUT
.footer__company
  height: 100%
  display: grid
  grid-gap: 3.125rem
  align-items: flex-start


// CONTACT

.footer__contact
  display: grid
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-gap: 1.25rem
    text-align: right
  .contact__header
    .contact__title
      color: $colorSecondary300
      font-size: 1.625rem
      line-height: 2rem
      font-weight: 600
      opacity: .8
      font-family: $secondFont
      text-transform: uppercase
      @include mediaMinWidthMobile
        font-size: 1.5rem
        line-height: 2rem
  .contact__item
    &.contact__item_secondary
      .contact__link
        color: $colorSecondary300
        font-size: 1.5rem
        line-height: 2rem
        position: relative
        @include mediaMinWidthMobile
          font-size: 1.25rem
          line-height: 2rem
        &::after
          content: ""
          position: absolute
          left: 0
          top: calc(100% - .125rem)
          width: 100%
          height: 1px
          background-color: $colorSecondary300
          @include transition

    &:hover
      .contact__link
        &::after
          width: 0
  .contact__link
    color: $colorSecondary200
    font-size: 1.625rem
    line-height: 2rem
    font-family: $secondFont
    @include mediaMinWidthMobile
      font-size: 1.5rem
      line-height: 2rem
  .contact__socials
    .socials__list
      display: flex
      flex-wrap: wrap
      gap: 1rem
      @include mediaMinWidthTabletPort
        justify-content: flex-end
    .socials__item
      &:hover
        .socials__ico
          fill: $colorSecondary500
    .socials__link
      width: 3.75rem
      height: 3.75rem
      display: flex
      align-items: flex-start
    .socials__ico
      fill: $colorSecondary300
      opacity: .7
      @include transition

// ABOUT
.footer__about
  display: grid
  @include mediaMinWidthMobile
    margin-top: -7rem
    margin-left: auto
    grid-gap: 1.25rem
    width: 50%
  @include mediaMinWidthTabletPort
    margin-top: auto
    width: auto
  .about__logo
    display: flex
    justify-content: center
    @include mediaMinWidthMobile
      justify-content: flex-end
    .logo__link
      width: 10.25rem
      height: 4.75rem
      display: flex
      align-items: flex-start
    img,
    svg
      width: 100%
      height: 100%
  .about__slogan
    display: none
    text-align: right
    @include mediaMinWidthMobile
      display: block
    .slogan__text
      color: $colorSecondary500
      font-size: 1.125rem
      line-height: 1.5rem
      opacity: .80
      text-align: right
      display: block
    