.layout__header
  color: $colorWhite
  font-size: 1.125rem
  line-height: 1.5rem
  z-index: 4
  width: 100%
  padding: 1.25rem 0
  position: absolute
  @include transition
  @include mediaMinWidthTabletPort
    padding: 3.25rem 0 2rem
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(180deg, rgba(37, 29, 23, 0.7) 27.03%, rgba(37, 29, 23, 0) 92.63%)
      z-index: -1
  .container
    max-width: calc(100vw - 2rem)
    display: grid
    grid-gap: 2rem
  // header_menu-active
  &.layout__header_menu-active
    .header__primary
      transform: translateX(0)


// burger
.header__burger
  display: flex
  width: 2.5rem
  height: 2.5rem
  flex-direction: column
  justify-content: center
  align-items: flex-end
  position: absolute
  top: 1.5rem
  left: 1.5rem
  z-index: 10
  @include mediaMinWidthMobile
    position: unset
  @include mediaMinWidthTabletPort
    display: none

  .burger__item
    width: 2rem
    background-color: $colorSecondary700
    height: .25rem
    border-radius: .5rem
    box-shadow: 0px 1px 10px 0px #F2C89999
    @include transition
    &:not(:last-child)
      margin-bottom: .25rem

.header__primary
  gap: 2rem
  display: flex
  @include mediaMaxWidthTabletPort
    top: 0
    left: 0
    width: 14.5rem
    height: 100%
    border-radius: 0 1.5rem 1.5rem 0 
    background: $colorSecondary200
    z-index: 3
    z-index: 11
    transform: translateX(-100%)
    position: fixed
    overflow: hidden
    overflow-y: auto
    flex-direction: column

    @include transition
// header__navigation
.header__nav
  width: 100%
  display: flex
  flex-direction: column
  @include mediaMinWidthTabletPort
    flex-direction: row
    justify-content: space-between
  .nav__list
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      gap: 2rem
      flex-direction: row
  .nav__item
    &:not(:last-child)
      border-bottom: 1px dotted $colorSixty300
      @include mediaMinWidthTabletPort
        border-bottom: 0
    &.nav__current,
    &:hover
      .nav__link
        color: $colorSecondary400
  .nav__link
    font-size: 1.125rem
    line-height: 1.25rem
    font-weight: 700
    color: $colorSecondary600
    opacity: .8
    padding: 1.25rem
    letter-spacing: 0.06rem
    display: block
    text-decoration: none
    text-align: center
    text-transform: uppercase
    @include transition
    @include mediaMinWidthTabletPort
      color: $colorSecondary200
      padding: 0
      font-weight: 400


// header__languages
.header__languages
  border-top: 1px dotted $colorSixty300
  position: relative
  margin-top: auto
  @include mediaMinWidthTabletPort
    margin-top: 0
    border: 0
  &:hover
    .languages__main
      opacity: 1
      visibility: visible
      transform: translateX(-50%)
  .languages__header
    color: $colorSecondary600
    gap: .25rem
    padding: 1.25rem
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    @include mediaMinWidthTabletPort
      padding: 0
      color: $colorSecondary300
  .languages__ico
    width: 2rem
    height: 2rem
    flex-shrink: 0
  .languages__text
    font-weight: 700
    @include mediaMinWidthTabletPort
      border-bottom: .125rem dotted $colorSecondary300
  .languages__ico,
  .languages__title
    @include mediaMinWidthTabletPort
      display: none
  .languages__main
    border-radius: 1.25rem
    background-color: $colorWhite
    position: absolute
    bottom: calc(100% + .5rem)
    left: 50%
    opacity: 0
    visibility: hidden
    transform: translateX(calc(-50% - 1rem))
    z-index: 2
    @include transition
    @include mediaMinWidthTabletPort
      top: calc(100% + .5rem)
      bottom: auto
  .languages__list
    display: flex
    flex-direction: column
  .languages__item
    color: $colorSecondary600
    padding: 1rem 1.25rem
    font-weight: 700
    opacity: .4
    text-transform: uppercase
    cursor: pointer
    @include transition
    &:not(:last-child)
      border-bottom: .125rem dotted $colorSixty300
    &:hover,
    &.languages__item_active
      color: $colorSecondary600
      opacity: 1



.header__secondary
  display: flex
  align-items: center
  gap: 1.25rem
// header__data
.header__data
  width: 100%
  display: flex
  align-items: flex-end
  justify-content: space-between
  @include mediaMinWidthMobile
    align-items: flex-start
  .data__list
    gap: 1rem
    display: flex
    flex-direction: column
    justify-content: flex-start
    @include mediaMinWidthMobile
      flex-direction: row
  .data__item
    position: relative
    &.data__item_secondary
      display: none
      @include mediaMinWidthTabletPort
        display: block
    &:hover
      .data__main
        opacity: 1
        visibility: visible
        transform: translateX(0)





  .data__preview
    padding: .5rem .75rem
    border: .125rem solid #DCC99380
    border-radius: 1.5rem
    cursor: pointer
    position: relative
    display: flex
    align-items: center
    justify-content: center
    @include transition
    @include mediaMinWidthMobile
      padding: .5rem 1.125rem
    &:hover
      border-color: $colorSecondary300
      .data__ico
        stroke: $colorSecondary300
    .data__ico
      width: 2rem
      height: 2rem
      stroke: #DCC99380
      @include transition
    .data__count
      color: $colorSecondary800
      background-color: $colorSecondary300
      font-size: .875rem
      line-height: 1rem
      width: 1.25rem
      height: 1.25rem
      border-radius: 50%
      font-weight: 700
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      position: absolute
      text-align: center
      top: .5rem
      right: .75rem

  .data__main
    position: absolute
    top: 0
    max-width: 17.5rem
    padding: 0 .75rem
    left: calc(100% + 1rem)
    border-radius: 1.25rem
    background-color: $colorWhite
    position: absolute
    opacity: 0
    z-index: 2
    visibility: hidden
    transform: translateX(-1rem)
    @include transition
  .data__sublist
    display: flex
    flex-direction: column
  .data__subitem
    color: $colorSecondary600
    padding: 1rem 1.25rem
    font-weight: 700

    white-space: nowrap
    text-transform: uppercase
    cursor: pointer
    @include transition
    &:not(:last-child)
      border-bottom: .125rem dotted $colorSixty300
    &:hover,
    &.data__subitem_active
      color: $colorSecondary700
      opacity: 1


  


// header__logo
.header__logo
  position: absolute
  left: 50%
  top: 3.125rem
  @include transform-x
  @include mediaMinWidthMobile
    top: 1.5rem
  @include mediaMinWidthTabletPort
    top: 3.25rem
  .logo__link
    height: 100%
    display: flex
  img,
  svg
    height: 4.5rem
    width: 10.5rem


