// LAYOUT
.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  overflow-y: auto
  visibility: hidden
  opacity: 0
  @include transition
  @include mediaMinWidthTabletPort
    font-size: 1.0625rem
    line-height: 1.5rem
  &.layout_ready-load
    visibility: visible
    opacity: 1
  .layout__main
    flex-grow: 1
    margin-bottom: -1.5rem