// modals
.modal-init
  cursor: pointer
// modal-wrap
.layout__modal
  position: fixed
  top: 0
  left: 0
  z-index: 4
  cursor: pointer
  width: 100%
  height: 100%
  visibility: hidden
  opacity: 0
  background: rgba(17, 17, 17, 0.3)
  @include transition

.layout_modal-active
  .layout__modal
    visibility: visible
    opacity: 1
.modal__layout
  position: fixed
  top: auto
  bottom: 0
  cursor: auto
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  background-color: $colorWhite
  border-radius: 1rem 1rem 0 0
  border: 1px solid $colorPrimary400
  z-index: 111
  visibility: hidden
  opacity: 0
  @include transition
  @media screen and (min-width: #{$mediaMinWidthTabletLand}) and (min-height: 40rem)
    top: 50%
    bottom: auto
    left: 50%
    max-width: 26rem
    border-radius: 1rem
    @include transform
  &.modal__layout_active
    visibility: visible
    opacity: 1
  // modal header
  .modal__header
    padding: 1rem 1.5rem
    border-bottom: .125rem solid $colorPrimary400
    display: flex
    align-items: center
    justify-content: space-between
    .modal__title
      &:not(:last-child)
        margin-right: 1rem
  //modal action
  .modal__action
    width: 1.5rem
    min-width: 1.5rem
    height: 1.5rem
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    &:hover
      @include mediaMinWidthDesktop
        .action__ico
          stroke: $colorFifty100
    .action__ico
      width: 100%
      height: 100%
      stroke: $colorPrimary400
      @include transition
  // modal content
  .modal__main
    overflow: hidden
    overflow-y: auto
    padding: 2rem 1.5rem