.layout__section
  padding: 3.125rem 0
  position: relative
  display: flex
  flex-direction: column
  @include mediaMinWidthTabletPort
    padding: 6.25rem 0
  &:first-child
    padding-top: 3.125rem
    @include mediaMinWidthTabletPort
      padding-top: 3.75rem
  .section__header
    color: $colorQuarty600
    grid-gap: .25rem
    display: grid
    &:not(:last-child)
      margin-bottom: 2rem
    .container
      display: grid
      grid-gap: .45rem
  .section__subtitle
    font-size: 1.125rem
    line-height: 1.25rem
    letter-spacing: .05rem
    text-transform: uppercase
  .section__action
    display: flex
    justify-content: center
    .btn
      min-width: 16rem
  .section__main
    &:not(:last-child)
      margin-bottom: 2rem
  .section__ico
    @include mediaMinWidthMobile
      position: absolute
      width: 18.20rem
      height: 31.4rem
      background-repeat: no-repeat
      background-size: contain
      &.section__ico_01
        top: 2rem
        right: 0
        background-image: url("../img/section__ico01.png")
        background-position: left top
      &.section__ico_02
        top: 50%
        left: 0
        background-image: url("../img/section__ico02.png")
        background-position: left top
      &.section__ico_03
        top: calc(100% - 22rem)
        right: 0
        background-image: url("../img/section__ico03.png")
        background-position: left top

      &.section__ico_04
        top: 0
        left: 0
        background-image: url("../img/section__ico04.png")
        background-position: left top
      &.section__ico_05
        top: 50%
        right: 0
        background-image: url("../img/section__ico05.png")
        background-position: right top
      &.section__ico_06
        top: 50%
        left: 0
        background-image: url("../img/section__ico06.png")
        background-position: left top

