// white color
$colorWhite: #ffffff
// primary color
$colorPrimary400: #828888
$colorPrimary500: #4B5C64
$colorPrimary600: #2E251F
// secondary color
$colorSecondary200: #ECE6DC
$colorSecondary300: #DCC993
$colorSecondary400: #c2b090
$colorSecondary500: #B1A08D
$colorSecondary600: #948576
$colorSecondary700: #AC9470
$colorSecondary800: #78553F
$colorSecondary900: #5F564D
$colorSecondary1000:#5e523f
$colorSecondary1100:#988A7B
// tertiary color
$colorTertiary300: #AE8175
$colorTertiary400: #AE8175
// quarty color
$colorQuarty100: rgba(46,37,31,.1)
$colorQuarty200: rgba(46,37,31,.2)
$colorQuarty300: rgba(46,37,31,.3)
$colorQuarty400: rgba(46,37,31,.4)
$colorQuarty500: rgba(46,37,31,.5)
$colorQuarty600: rgba(46,37,31,.6)
$colorQuarty700: rgba(46,37,31,.7)
$colorQuarty800: rgba(46,37,31,.8)
$colorQuarty900: rgba(46,37,31,.9)
$colorQuarty1000:rgba(46,37,31,1)
// fifty color
$colorFifty100: rgba(177,160,141,.1)
$colorFifty200: rgba(177,160,141,.2)
$colorFifty300: rgba(177,160,141,.3)
$colorFifty400: rgba(177,160,141,.4)
$colorFifty500: rgba(177,160,141,.5)
$colorFifty600: rgba(177,160,141,.6)
$colorFifty700: rgba(177,160,141,.7)
$colorFifty800: rgba(177,160,141,.8)
$colorFifty900: rgba(177,160,141,.9)
$colorFifty1000:rgba(177,160,141,1)
// sixty color
$colorSixty100: rgba(152,138,122,.1)
$colorSixty200: rgba(152,138,122,.2)
$colorSixty300: rgba(152,138,122,.3)
$colorSixty400: rgba(152,138,122,.4)
$colorSixty500: rgba(152,138,122,.5)
$colorSixty600: rgba(152,138,122,.6)
$colorSixty700: rgba(152,138,122,.7)
$colorSixty800: rgba(152,138,122,.8)
$colorSixty900: rgba(152,138,122,.9)
$colorSixty1000:rgba(152,138,122,1)




// fonts
$mainFont: 'Corbel', sans-serif
$secondFont: 'Bitter', sans-serif   
// mixin
@mixin transition()
  transition: all 0.4s ease-in-out


@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)


@mixin box-shadow-transparent()
  box-shadow: 0 .125rem .25rem 0 transparent
@mixin box-shadow()
  box-shadow: 0 .125rem .25rem 0 #2E251F33
