<footer class="layout__footer footer">
  <div class="container">
    <!-- Меню -->
    <div class="footer__menu">
      <!-- Навигация Главная -->
      <div class="footer__nav footer__nav_primary nav">
        <div class="nav__groups">
          <div class="nav__group">
            <div class="nav__header">
              <span class="nav__title">о салоне</span>
            </div>
            <div class="nav__main">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#">Философия</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Традиции</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Сертификаты</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">SPA Этикет</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="nav__groups">
          <div class="nav__group">
            <div class="nav__header">
              <span class="nav__title">SPA-меню</span>
            </div>
            <div class="nav__main">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#">Wellness зона</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Массажи</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">SPA-программы</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Талассотерапия</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Эстетика лица</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Hi-Tech уход</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Мужской SPA</a>
                </li>
              </ul>
            </div>
            <div class="nav__footer">
              <span class="nav__action">Еще</span>
            </div>
          </div>
        </div>
        <div class="nav__groups">
          <div class="nav__group">
            <div class="nav__header">
              <span class="nav__title">SPA визит</span>
            </div>
            <div class="nav__main">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#">SPA-визит</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">SPA-девичник</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">SPA-коктейль</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">SPA-день</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Корпоративные программы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="nav__groups nav__groups_secondary">
          <div class="nav__group">
            <div class="nav__header">
              <span class="nav__title">Акции</span>
            </div>
            <div class="nav__main">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#">Неделя тайского SPA</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Новогодний Релакс</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="nav__group">
            <div class="nav__header">
              <span class="nav__title">сертификаты</span>
            </div>
            <div class="nav__main">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#">Заказать он-лайн</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Заказать в WhatsApp</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Навигация Вторичная -->
      <div class="footer__nav footer__nav_secondary nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Правила посещения</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Cookies</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Компания -->
    <div class="footer__company">
      <!-- Контакты -->
      <div class="footer__contact contact">
        <div class="contact__header">
          <span class="contact__title">КОНТАКТЫ</span>
        </div>
        <div class="contact__main">
          <div class="contact__list">
            <div class="contact__item">
              <a class="contact__link" href="#">8 (900) 111-22-11</a>
            </div>
            <div class="contact__item contact__item_secondary">
              <a class="contact__link" href="#">reseprion@mops.ru</a>
            </div>
          </div>
        </div>
        <div class="contact__footer">
          <div class="contact__socials socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico01"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico02"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico03"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico04"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- О нас -->
      <div class="footer__about about">
        <div class="about__logo">
          <a class="logo__link" href="index.html">
            <!-- partial:_logoSecondary.html -->
            <!-- partial -->
          </a>
        </div>
        <div class="about__slogan slogan">
          <span class="slogan__text">
            Уютный уголок СПА и расслабления в центре большого и шумного города.
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
