<header class="layout__header header">
  <div class="container container_primary">
    <div class="header__primary">
      <!-- Навигация -->
      <nav class="header__nav nav">
        <ul class="nav__list nav__list_primary">
          <li class="nav__item"><a href="#" class="nav__link">О салоне</a></li>
          <li class="nav__item"><a href="#" class="nav__link">SPA-меню</a></li>
          <li class="nav__item"><a href="#" class="nav__link">SPA Визит</a></li>
        </ul>
        <ul class="nav__list nav__list_secondary">
          <li class="nav__item">
            <a href="#" class="nav__link">СЕРТИФИКАТЫ</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <!-- Язык -->
      <div class="header__languages languages">
        <div class="languages__header">
          <svg class="languages__ico">
            <use xlink:href="img/sprite.svg#language"></use>
          </svg>
          <span class="languages__title">Язык:</span>
          <span class="languages__text">Рус</span>
        </div>
        <div class="languages__main">
          <ul class="languages__list">
            <li class="languages__item languages__item_active">Рус</li>
            <li class="languages__item">Eng</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__secondary">
      <!-- Логотип -->
      <div class="header__logo logo">
        <a class="logo__link" href="index.html">
          <!-- partial:_logo.html -->
          <!-- partial -->
        </a>
      </div>
      <!-- Бургер -->
      <div class="header__burger burger">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </div>
      <!-- Данные -->
      <div class="header__data data">
        <div class="data__list data__list_primary">
          <div class="data__item data__item_secondary">
            <div class="data__header">
              <a class="btn btn_tiny btn_secondary" href="#">
                <span class="btn__text">Записаться</span>
              </a>
            </div>
          </div>
          <div class="data__item">
            <div class="data__header">
              <div class="data__preview">
                <svg class="data__ico">
                  <use xlink:href="img/sprite.svg#data__ico01"></use>
                </svg>
              </div>
            </div>
            <div class="data__main">
              <ul class="data__sublist">
                <li class="data__subitem">Звонок на Whatsapp</li>
                <li class="data__subitem">Звонок на Telegram</li>
                <li class="data__subitem">Перезвонить мне</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="data__list data__list_secondary">
          <div class="data__item">
            <div class="data__header">
              <a class="data__preview" href="#">
                <svg class="data__ico">
                  <use xlink:href="img/sprite.svg#data__ico01"></use>
                </svg>
                <span class="data__count">3</span>
              </a>
            </div>
          </div>
          <div class="data__item">
            <div class="data__header">
              <a class="data__preview" href="#">
                <svg class="data__ico">
                  <use xlink:href="img/sprite.svg#data__ico01"></use>
                </svg>
                <span class="data__count">3</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->
</header>
<!-- //header -->
