<div class="layout__modal modal">
  <!-- // SHARE MODAL  -->
  <div class="modal__layout modal__layout_test">
    <!-- modal header -->
    <div class="modal__header">
      <div class="modal__title title">
        <span class="title__text h4">Заголовок попапа</span>
      </div>
      <div class="modal__action action">
        <svg class="action__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- modal content -->
    <div class="modal__main">
      <div class="wysiwyg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
          cum delectus error facere porro quidem quis saepe unde vero!
          Architecto cupiditate, dolores illum ipsa molestias nemo perferendis
          quaerat quibusdam rerum?
        </p>
      </div>
    </div>
  </div>
</div>
