<div class="slider__scroll scroll">
  <a class="scroll__link" href="#main">
    <svg
      class="scroll__ico scroll__ico_primary"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 80 132"
      fill="none"
    >
      <g filter="url(#filter0_d_1005_2784)">
        <g opacity="0.6">
          <mask id="path-1-inside-1_1005_2784" fill="white">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M39 19C28.5066 19 20 27.5066 20 38V60C20 70.4934 28.5066 79 39 79H41C51.4934 79 60 70.4934 60 60V38C60 27.5066 51.4934 19 41 19H39ZM40.4764 28C38.6355 28 37.1431 29.4924 37.1431 31.3333V44.6667C37.1431 46.5076 38.6355 48 40.4764 48C42.3173 48 43.8097 46.5076 43.8097 44.6667V31.3333C43.8097 29.4924 42.3173 28 40.4764 28Z"
            />
          </mask>
          <path
            d="M22.5 38C22.5 28.8873 29.8873 21.5 39 21.5V16.5C27.1259 16.5 17.5 26.1259 17.5 38H22.5ZM22.5 60V38H17.5V60H22.5ZM39 76.5C29.8873 76.5 22.5 69.1127 22.5 60H17.5C17.5 71.8741 27.1259 81.5 39 81.5V76.5ZM41 76.5H39V81.5H41V76.5ZM57.5 60C57.5 69.1127 50.1127 76.5 41 76.5V81.5C52.8741 81.5 62.5 71.8741 62.5 60H57.5ZM57.5 38V60H62.5V38H57.5ZM41 21.5C50.1127 21.5 57.5 28.8873 57.5 38H62.5C62.5 26.1259 52.8741 16.5 41 16.5V21.5ZM39 21.5H41V16.5H39V21.5ZM39.6431 31.3333C39.6431 30.8731 40.0162 30.5 40.4764 30.5V25.5C37.2547 25.5 34.6431 28.1117 34.6431 31.3333H39.6431ZM39.6431 44.6667V31.3333H34.6431V44.6667H39.6431ZM40.4764 45.5C40.0162 45.5 39.6431 45.1269 39.6431 44.6667H34.6431C34.6431 47.8883 37.2547 50.5 40.4764 50.5V45.5ZM41.3097 44.6667C41.3097 45.1269 40.9366 45.5 40.4764 45.5V50.5C43.6981 50.5 46.3097 47.8883 46.3097 44.6667H41.3097ZM41.3097 31.3333V44.6667H46.3097V31.3333H41.3097ZM40.4764 30.5C40.9366 30.5 41.3097 30.8731 41.3097 31.3333H46.3097C46.3097 28.1117 43.6981 25.5 40.4764 25.5V30.5Z"
            fill="white"
            mask="url(#path-1-inside-1_1005_2784)"
          />
        </g>
        <path
          opacity="0.6"
          d="M57.1428 93L40 109L22.8571 93"
          stroke="white"
          stroke-width="2.5"
          stroke-linecap="round"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_1005_2784"
          x="0"
          y="0"
          width="80"
          height="131.71"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="10" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.862745 0 0 0 0 0.788235 0 0 0 0 0.576471 0 0 0 1 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_1005_2784"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_1005_2784"
            result="shape"
          />
        </filter>
      </defs>
    </svg>

    <svg class="scroll__ico scroll__ico_secondary">
      <use xlink:href="img/sprite.svg#scroll__ico02"></use>
    </svg>
  </a>
</div>
