// button
.btn
  font-size: 1.125rem
  line-height: 1.25rem
  font-weight: 600
  
  padding: 1.125rem 2rem
  border-radius: 1.5rem
  gap: .75rem
  border: 0
  font-family: $secondFont
  box-shadow: 0 0.125rem 0.25rem 0 rgba(46, 37, 31, 0.15)
  text-decoration: none
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  outline: none
  text-align: center
  appearance: none
  text-transform: uppercase
  @include transition
  &.btn_tiny
    padding-top: .94rem
    padding-bottom: .94rem
  // btn primary
  &.btn_primary
    color: $colorWhite
    background: linear-gradient(132.94deg, #DCC993 10.93%, #AC9470 47.93%)
    background-size: 100% 200%
    &:hover
      color: $colorWhite
      background-size: 200% 200%
      .btn__ico
        fill: $colorWhite
    .btn__ico
      fill: $colorSecondary1000

  // btn secondary
  &.btn_secondary
    color: $colorQuarty1000
    background: linear-gradient(132.94deg, #DCC993 10.93%, #AC9470 47.93%)
    background-size: 100% 200%
    &:hover
      color: $colorQuarty1000
      background-size: 200% 200%
      .btn__ico
        fill: $colorQuarty1000
    .btn__ico
        fill: $colorQuarty1000


  // btn tertiary
  &.btn_tertiary
    color: $colorSecondary600
    background: transparent
    border: .125rem solid $colorFifty600
    &:hover
      color: $colorWhite
      background-color: $colorSecondary500
      .btn__ico
        fill: $colorWhite
    &:disabled
      color: $colorFifty600
      border-color: $colorFifty600
      opacity: .4
    .btn__ico
      fill: $colorSecondary600


  &:disabled
    color: $colorWhite
    background: $colorPrimary400


  &:hover
    .btn__text
      &.btn__text_primary
        max-width: 0
        transition-delay: 0s
      &.btn__text_secondary
        max-width: 100%
        transition-delay: .4s

  .btn__ico
    width: 1.25rem
    height: 1.25rem
    @include transition
  .btn__text
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    overflow: hidden
    @include transition
    &.btn__text_primary
      max-width: 100%
      transition-delay: .4s
    &.btn__text_secondary
      max-width: 0
      transition-delay: 0s
.buttons
  .buttons__list
    gap: 1.25rem 1rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    @include mediaMinWidthTabletPort
      justify-content: flex-start

