// Группы формы
.form__group
  &:not(:last-child)
    margin-bottom: .5rem
  .group__header
    padding: .75rem 0
    border-bottom: 1px solid $colorPrimary400
    &:not(:last-child)
      margin-bottom: 1.5rem
  .group__main
    &:not(:last-child)
      margin-bottom: .75rem


// Ячейка формы
.form-item
  margin-bottom: 1.25rem
  &.form-item_before
    .form-item__media
      left: 0
    .form-item__input,
    .jcf-select-text
      padding-left: 3.5rem
  &.form-item_after
    .form-item__media
      right: 0
    .form-item__input,
    .jcf-select-text
      padding-right: 3.5rem
// Шапка
.form-item__header
  &:not(:last-child)
    margin-bottom: 0.5rem
  .form-item__title
    color: $colorQuarty500
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 400
    cursor: pointer
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    @include transition
    &:hover
      color: $colorFifty100


// Обертка для елементов формы
.form-item__main
  position: relative
  &:hover
    .form-item__input
      border-color: $colorSecondary400
// Иконка формы
.form-item__media
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  width: 3.5rem
  height: 3.5rem
  top: 0
  &:hover
    .media__ico
      stroke: $colorFifty100
  .media__ico
    width: 1.5rem
    height: 1.5rem
    stroke: $colorPrimary400
    fill: transparent
    @include transition

// Поле ввода
.form-item__input
  color: $colorQuarty500
  background-color: $colorWhite
  font-size: 1rem
  line-height: 1rem
  font-weight: 400
  font-family: $mainFont
  padding: 1rem 1.25rem
  width: 100%
  border-radius: .5rem
  border: .125rem solid $colorPrimary400
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  // заблокированно
  &:disabled
    opacity: .5
  // ошибка
  &.error
    border-color: $colorTertiary300
  // подсказка
  &::placeholder
    opacity: 1
    color: $colorPrimary400
  // активное поле
  &:focus,
  &:hover
    border-color: $colorSecondary400

  // екстареа
  &.form-item__input_textarea
    width: 100%
    height: 6.875rem
    resize: none

// Стилизация чекбоксов и радиокнопок
.custom-check
  .custom-check__label
    position: relative
    display: flex
  .custom-check__input
    position: absolute
    opacity: 0
    // нажатое состояние
    &:checked ~ .custom-check__ico
      &.custom-check__ico_before
        opacity: 0

      &.custom-check__ico_after
        opacity: 1
    // заблокированное состояние
    &:disabled ~ .custom-check__text
      pointer-events: none
    // ошибка
    &.error ~ .custom-check__text
      color: $colorTertiary300
  // текст
  .custom-check__text
    font-size: 1rem
    line-height: 1.625rem
    padding-left: 2.625rem
    position: relative
    cursor: pointer
    display: flex
    flex-wrap: wrap

  .custom-check__ico
    width: 1.625rem
    min-width: 1.625rem
    height: 1.625rem
    position: absolute
    top: 0
    left: 0
    @include transition

    &:not(:last-child)
      margin-right: .25rem

    &.custom-check__ico_before
      opacity: 1

    &.custom-check__ico_after
      opacity: 0

  // checkbox
  input[type='checkbox']
    & ~ .custom-check__text
  // radio
  input[type='radio']
    & ~ .custom-check__text
      &:before,
      &:after
        border-radius: 50%


// Стилизация селекта
.jcf-select,
select
  border-radius: .5rem
  border: .125rem solid $colorPrimary400
  background-color: $colorWhite
  width: 100%
  height: 3.5rem
  position: relative
  appearance: none
  display: flex
  outline: none
  cursor: pointer
  @include transition

  &.jcf-drop-active,
  &:hover
    border-color: $colorSecondary400
    .jcf-select-opener
      &:after
        transform: rotate(-180deg)
  &.jcf-drop-active
    .jcf-select-opener
      transform: rotate(180deg)
  &.jcf-disabled
    opacity: .3

  .jcf-select-text
    color: $colorQuarty500
    font-size: 1rem
    line-height: 1.5rem
    width: 100%
    padding: 1rem 1.25rem
    position: relative
    font-family: $mainFont
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    background-color: transparent
    display: flex
    justify-content: flex-start
    align-items: center
    @include transition
    span
      position: relative
      z-index: 2
    .jcf-option-placeholder
      color: $colorPrimary400

  .jcf-select-opener
    width: 3.25rem
    min-width: 3.25rem
    height: 3.25rem
    display: flex
    align-items: center
    justify-content: center
    background-image: url("../img/arrowBottom.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 50%
    transform: rotate(0deg)
    @include transition

.jcf-select-drop
  position: absolute
  top: calc(100% + .25rem)
  left: 0
  z-index: 3

  .jcf-list-content
    max-height: 15rem
    width: 100%
    border: .125rem solid $colorSecondary400
    border-radius: .5rem
    vertical-align: top
    display: inline-block
    overflow: auto

  ul
    margin: 0
    list-style: none

  li
    margin: 0

    &:first-child
      border-radius: .75rem .75rem 0 0

    &:last-child
      border-radius: 0 0 .75rem .75rem

  .jcf-option
    color: $colorPrimary500
    background-color: $colorWhite
    font-size: 1rem
    line-height: 1.5rem
    padding: 1rem 1.25rem
    display: block
    cursor: pointer
    @include transition

    &:hover
      color: $colorWhite
      background-color: $colorSecondary400
    &.jcf-selected
      color: $colorWhite
      background-color: $colorSecondary400


// Стилизация числового ввода
.jcf-number
  width: 10rem
  height: 3.5rem
  border-radius: 1rem
  border: .125rem solid $colorPrimary400
  background-color: $colorWhite
  padding: 0 3.5rem
  display: flex
  position: relative
  @include transition
  &:hover
    border-color: $colorSecondary400
  input
    font-size: 1rem
    line-height: 1.5rem
    padding: 0 .125rem
    background-color: transparent
    height: 100%
    width: 100%
    border: 0
    border-radius: 0
    text-align: center
    box-sizing: border-box
    outline: none
    text-overflow: ellipsis
    appearance: none
    -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

  .jcf-btn-dec,
  .jcf-btn-inc
    color: $colorPrimary400
    position: absolute
    top: 0
    height: 3.5rem
    width: 3.5rem
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    path
      stroke: $colorPrimary400
      @include transition
    &:hover
      path
        stroke: $colorQuarty500


  .jcf-btn-dec
    left: 0

  .jcf-btn-inc
    right: 0

// Стилизация добавление файла

.attach
  width: 100%

  .attach__list
    &:not(:last-child)
      margin-bottom: 1rem

  .attach__item
    border-radius: 0.5rem
    color: $colorWhite
    padding: 1rem
    background-color: $colorSecondary400
    display: flex
    align-items: center
    position: relative
    &:not(:last-child)
      margin-bottom: 0.25rem

  .attach__input
    position: absolute
    left: -99999px
    opacity: 0
    visibility: hidden

  .attach__media
    &:not(:last-child)
      margin-right: 0.75rem

    .media__ico
      width: 1.25rem
      height: 1rem
      fill: $colorWhite

  .attach__title
    &:not(:last-child)
      margin-right: 0.75rem

    .title__text
      color: $colorWhite
      font-size: 1.125rem
      line-height: 1.5rem
      font-weight: 500
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  .attach__action
    margin-left: auto
    width: 1.25rem
    min-width: 1.25rem
    height: 1.25rem
    cursor: pointer
    &:hover
      .action__ico
        fill: $colorTertiary300
    .action__ico
      width: 1.25rem
      height: 1.25rem
      fill: $colorWhite
      @include transition

  .attach__init
    width: 2.5rem
    height: 2.5rem
    border-radius: .5rem
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    background-color: $colorSecondary400
    .init__ico
      width: 1.25rem
      height: 1rem
      fill: $colorWhite
      &:not(:last-child)
        margin-right: .75rem

    .init__title
      font-size: 1.125rem
      line-height: 1.5rem
      font-weight: 500


// Свитчер
.toggle

  .toggle__label
    position: relative
    display: flex
    align-items: center
    cursor: pointer

  .toggle__input
    position: absolute
    left: -9999px

    &:checked ~ .toggle__text
      color: $colorSecondary400

      &:before
        background-color: $colorSecondary400

      &:after
        right: 1px

  .toggle__text
    color: $colorSecondary400
    font-size: .875rem
    line-height: 1rem
    font-weight: 700
    padding-right: 4rem

    &:before,
    &:after
      content: ""
      position: absolute
      top: 0
      right: 0
      @include transition

    &:before
      width: 3.25rem
      height: 1.25rem
      border-radius: 2rem
      background-color: $colorSecondary400
      box-shadow: none

    &:after
      width: 1.125rem
      height: 1.125rem
      background-color: $colorWhite
      border-radius: 50%
      top: 1px
      right: 2rem
      z-index: 2
      opacity: 1

// Слайдер
.range
  .range__slider
    height: .5rem
    background-color: $colorSecondary300
    border-radius: .25rem
    border: 0 !important
    position: relative

    &:not(:last-child)
      margin-bottom: .75rem

    .ui-slider-range
      position: absolute
      z-index: 10
      font-size: .7em
      display: block
      border: 0
      top: 0
      height: 100%
      background-color: $colorSecondary400
      &.ui-widget-header
        background-color: $colorSecondary400
    .ui-slider-handle
      position: absolute
      top: -.4em
      margin-left: -.6em
      cursor: pointer
      -ms-touch-action: none
      touch-action: none
      width: 1.25rem
      height: 1.25rem
      border-radius: 50%
      border: 0
      z-index: 11
      background-color: $colorFifty100


  .range__content,
  .range__form
    font-weight: 500
    width: calc(100% + .75rem)
    margin: 0 -.375rem
    display: flex

    .range__item
      padding: 0 .375rem
      display: flex
      align-items: center

  .range__content
    font-size: .875rem
    line-height: 1rem
    justify-content: space-between

    &:not(:last-child)
      margin-bottom: .75rem

  .range__form
    font-size: 1rem
    line-height: 1.5rem

    .range__title
      &:not(:last-child)
        margin-right: .25rem

    .jcf-number
      padding: 0
      width: 2rem

    .jcf-btn-dec,
    .jcf-btn-inc
      display: none


// Датапикер
.ui-datepicker
  padding: 1.5rem
  display: none
  max-width: 21.5rem
  border-radius: .5rem
  background-color: $colorWhite
  font-family: $mainFont
  z-index: 11!important
  @include mediaMinWidthTabletPort
    max-width: 28.25rem
  .ui-datepicker-header
    position: relative
    margin-bottom: 1rem

    .ui-datepicker-year
      display: none

  .ui-datepicker-prev,
  .ui-datepicker-next
    position: absolute
    top: 50%
    height: 1.25rem
    width: 1.25rem
    cursor: pointer
    display: flex
    align-items: center
    justify-content: flex-start
    transform: translateY(-50%)
    @include transition
    &.ui-state-disabled
      opacity: .5
    .ui-icon
      height: 1.5rem
      display: flex
      align-items: center
  .ui-datepicker-prev
    left: 0
    @include mediaMinWidthTabletPort
      left: 1.5rem
  .ui-datepicker-next
    right: 0
    @include mediaMinWidthTabletPort
      right: 1.5rem

  .ui-datepicker-title
    display: flex
    justify-content: center
  .ui-datepicker-month
    font-size: 1.25rem
    line-height: 2rem
    font-weight: 600
    border-radius: 6px

  .ui-datepicker-calendar
    width: 100%
    margin: 0
    border-collapse: collapse

    th,
    td
      border: 0
      padding: 0
      background: none

      // Прошлые дни
      &.ui-datepicker-unselectable
        pointer-events: none
        span,
        a
          color: $colorPrimary400
      // Текущий день
      &.ui-datepicker-today,
      &:hover
        span,
        a
          border-color: $colorSecondary400
      // Выбранный день
      &.ui-datepicker-current-day
        span,
        a
          color: $colorWhite
          border-color: $colorSecondary400
          background-color: $colorSecondary400
      span,
      a
        font-size: 1rem
        line-height: 1.5rem
        font-weight: 500
        height: 2.5rem
        width: 2.5rem
        border-radius: .5rem
        border: .125rem solid transparent
        color: $colorQuarty500
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        text-align: center
        background: transparent
        @include transition
        @include mediaMinWidthTabletPort
          height: 3.5rem
          width: 3.5rem
    th
      pointer-events: none

// Переключатель
.switcher
  width: 100%
  .switcher__list
    display: flex
    justify-content: space-around
  .switcher__item
    width: 100%
    position: relative
    &:first-child
      .switcher__text
        border-radius: .5rem 0 0 .51rem
    &:last-child
      .switcher__text
        border-radius: 0 .5rem .5rem 0
  .switcher__label
    cursor: pointer
    display: flex
    &:hover
      .switcher__text
        border-color: $colorSecondary400
  .switcher__input
    position: absolute
    left: -9999px
    &:checked ~ .switcher__text
      border-color: $colorSecondary400
  .switcher__text
    font-size: .875rem
    line-height: 1.5rem
    padding: 1rem 2rem
    font-weight: 700
    border-radius: .5rem
    width: 100%
    background-color: $colorWhite
    border: .125rem solid $colorPrimary400
    display: flex
    justify-content: center
    @include transition





// Стилизация скролла
::-webkit-scrollbar
  width: 0
  height: 0

::-webkit-scrollbar-track
  background: $colorWhite

::-webkit-scrollbar-thumb
  background-color: $colorSecondary400

  &:hover
    background-color: $colorSecondary400

