// slider slider
.slick-slider
  width: auto
  height: 100%
  position: relative
  display: block
  cursor: grab
  &.slick-vertical
    .slick-track
      flex-direction: column
    .slick-slide
      display: block
      height: 20rem
  img
    display: block
    width: 100%
  .slick-track
    display: flex
  .slick-list
    overflow: hidden
  .slick-slide
    display: inline-block
    height: 100%
    z-index: 2!important
    margin: 0
    min-height: 1px
    &.slick-current
      z-index: 3!important
  // navigation
  .slick-arrow
    position: absolute
    width: 3.75rem
    height: 3.75rem
    border: 1px solid $colorFifty500
    background-color: rgba(255,255,255,.7)
    border-radius: 50%
    cursor: pointer
    z-index: 4
    top: 50%
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 0px 5px 10px #2E251F1A
    @include transform-y
    @include transition
    &:hover
      border-color: $colorSecondary700
      background-color: $colorWhite
      svg
        stroke: $colorSecondary700
    &.slick-prev
      left: 2rem
      right: auto
    &.slick-next
      left: auto
      right: 2rem
    &.slick-disabled
      opacity: .5
      pointer-events: none
    svg
      width: 1.125rem
      height: 2rem
      stroke: $colorSecondary500
  // pagination
  .slick-dots
    display: flex
    justify-content: center
    gap: 1.5rem
    position: absolute
    z-index: 3
    left: 50%
    right: auto
    bottom: 2rem
    @include transform-x
    @include mediaMinWidthTabletPort
      bottom: 2rem
      right: 2.5rem
      left: auto
      transform: none


        

    li
      display: flex
      align-items: flex-start
      &.slick-active,
      &:hover
        button
          opacity: 1
      &.slick-active
        button
          width: 2.5rem

      &:only-child
        display: none
    button
      text-indent: -9999px
      width: 1rem
      height: 1rem
      border-radius: 1.25rem
      opacity: .5
      background-color: $colorSecondary200
      cursor: pointer
      @include transition

.slick-loading .slick-slide
  visibility: hidden

