// table
table
  border-collapse: collapse
  border-spacing: 0
  border: 0
  width: 100%
  margin-bottom: 2rem
  table-layout: fixed

  td,
  th
    border-bottom: 1px solid $colorPrimary400
    border-top: 1px solid $colorPrimary400
    text-align: left
    padding: 0.5rem 1.25rem
    @include transition
    @include mediaMinWidthTabletPort
      padding: 1.25rem 1.5rem

  th
    color: $colorWhite
    font-weight: 600
    background-color: $colorPrimary400


