.wysiwyg
  h1,
  h2,
  h4,
  h5,
  h6,
  h6,
  .h1,
  .h2,
  .h4,
  .h5,
  .h6,
  .h6
    &:not(:last-child)
      margin: 0 0 1.25rem
  img,
  svg
    display: block
    &:not(:last-child)
      margin-bottom: 1.25rem
  p,
  ul,
  ol
    &:not(:last-child)
      margin-bottom: 1.25rem
  strong
    font-weight: 700
  ul
    list-style: none
    ul
      margin-left: 0
    li
      position: relative
      padding-left: 1.25rem
      &:before
        content: ""
        left: 0
        top: .4rem
        width: .625rem
        height: .625rem
        border-radius: 50%
        background-color: $colorSecondary400
        position: absolute
        &:not(:last-child)
          margin-bottom: 1.25rem
  ol
    list-style: decimal
    padding-left: 1rem
    li
      margin: 0 0 0.5rem
  a
    color: $colorSecondary700
    position: relative
    white-space: nowrap
    text-decoration: none
    &:before
      content: ""
      position: absolute
      top: calc(100% + .125rem)
      left: 0
      width: 100%
      border-top: .125rem dotted $colorSecondary700
      @include transition
    &:hover
      &:before
        width: 0
  i
    font-weight: 100
    font-style: italic






















