// container
.container
  width: 72.5rem
  max-width: calc(100vw - 4rem)
  margin: 0 auto
  @include mediaMinWidthMobile
    max-width: calc(100vw - 5rem)
  &.container_primary
    width: 85rem
  &.container_secondary
    width: 60rem
  &.container_tertiary
    width: 47.75rem

.text-center
  text-align: center!important