// RESET
@font-face
  font-family: Corbel
  font-display: auto
  font-weight: 400
  src: url(../fonts/Corbel.eot)
  src: url(../fonts/Corbel.eot) format("embedded-opentype")
  src: local("Corbel"), url(../fonts/Corbel.woff) format("woff"), url(../fonts/Corbel.ttf) format("truetype")

// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h4, h5, h6, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 400 4.210vw/1.5rem $mainFont
  @include mediaMinWidthMobile
    font-size: 2.222vw
  @include mediaMinWidthTabletPort
    font-size: 1.2vw
  @include mediaMinWidthDesktop
    font-size: 16px
    
body
  color: $colorQuarty700
  background-color: $colorSecondary200
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  min-height: 100%
h1,
h2,
h4,
h5,
h6,
h6,
.h1,
.h2,
.h4,
.h5,
.h6,
.h6
  margin: 0
  font-weight: 300
  font-family: $secondFont


h1,
.h1
  font-size: 3.125rem
  line-height: 3.75rem
  @include mediaMinWidthMobile
    font-size: 4rem
    line-height: 4.75rem
  @include mediaMinWidthTabletPort
    font-size: 4.5rem
    line-height: 5.25rem
h2,
.h2
  font-size: 2.75rem
  line-height: 3rem
  @include mediaMinWidthMobile
    font-size: 3rem
    line-height: 3.75rem
h4,
.h4
  font-size: 2.125rem
  line-height: 2.5rem
h5,
.h5
  font-size: 1.375rem
  line-height: 1.875rem
  @include mediaMinWidthTabletPort
    font-size: 1.5rem
    line-height: 1.875rem

h6,
.h6
  font-size: 1.25rem
  line-height: 1.5rem

h6,
.h6
  font-size: 1.125rem
  line-height: 1.25rem

img,
svg
  outline: none
  max-width: 100%
  max-height: 100%
  object-fit: cover
  height: auto
a
  text-decoration: none
ul,
ol
  list-style: none
