// BANNER
.layout__banner
  position: relative
  .banner__link
    color: $colorWhite
    &:hover
      .banner__layout
        grid-gap: 4.75rem
      .banner__media
        &::before
          opacity: .1
      .banner__main
        max-height: 100%
  .banner__media
    border-radius: 1.25rem
    padding-top: 144%
    display: flex
    align-items: flex-start
    position: relative
    overflow: hidden
    @include mediaMinWidthMobile
      padding-top: 72%

    @include mediaMinWidthTabletPort
      padding-top: 40%
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $colorSecondary500
      opacity: .4
      z-index: 2
      @include transition
    img,
    svg
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
  .banner__layout
    color: rgba(255,255,255,.9)
    position: absolute
    left: 50%
    top: 50%
    z-index: 2
    width: 100%
    max-width: 30rem
    padding: 2rem
    text-align: center
    display: grid
    grid-gap: 2.75rem
    @include transform
    @include transition
    @include mediaMinWidthMobile
      top: auto
      bottom: 0
      @include transform-x
  .banner__header
    text-shadow: 0 1px 5px #2B241FB2
    text-transform: uppercase
    position: relative
    &::before
      width: 5.5rem
      height: .125rem
      content: ""
      position: absolute
      top: calc(100% + 2rem)
      left: 50%
      background-color: rgba(255,255,255,.5)
      @include transform-x
    .wysiwyg
      &::before,
      &:after
        width: .5rem
        height: .5rem
        border-radius: .5rem
        content: ""
        position: absolute
        top: calc(100% + 2.05rem)
        background-color: rgba(255,255,255,.5)
        @include transform-y
      &::before
        left: calc(50% - 3.25rem)
      &:after
        left: calc(50% + 2.75rem)
  .banner__main
    max-height: 0
    overflow: hidden
    @include transition




  