// CATEGORIES
.layout__categories
  .categories__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthMobile
      
      grid-template-columns: repeat(2, 1fr)
    @include mediaMinWidthTabletPort
      grid-gap: 2.5rem 2rem
      grid-template-columns: repeat(3, 1fr)
  .categories__item
    border-radius: 1.25rem
    border: .125rem solid transparent
    box-shadow: 0 .125rem 1.5rem 0 transparent
    position: relative
    overflow: hidden
    @include transition
    &:hover
      border-color: $colorWhite
      box-shadow: 0 .125rem 1.5rem 0 rgba(46, 37, 31, 0.5)
      .categories__layout
        gap: 2rem
        @include mediaMinWidthTabletPort
          gap: 3.75rem
      .categories__media
        &::before
          opacity: .2
      .categories__main
        @include mediaMinWidthTabletPort
          &::before
            top: calc(100% + 1.5rem)
      .categories__title
        @include mediaMinWidthTabletPort
          &::before,
          &:after
            top: calc(100% + 1.55rem)
      .categories__subtitle,
      .categories__footer
        max-height: 5rem
  .categories__link
    color: $colorWhite

  .categories__tags
    position: absolute
    top: 1rem
    right: 1rem
    max-width: calc(100% - 2rem)
    z-index: 2
    display: flex
    gap: 1rem
    .tags__list
      display: flex
      gap: 1rem
    .tags__item
      cursor: pointer
      &:hover
        .tags__text
          color: $colorSecondary800
          box-shadow: 0px 3px 2px 0px #00000033
          background-color: $colorWhite
    .tags__ico
      stroke: $colorWhite
      width: 2.5rem
      height: 2.5rem
      display: flex
      align-items: flex-start
    .tags__text
      color: $colorWhite
      padding: .5rem 1rem
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 700
      white-space: nowrap
      text-overflow: ellipsis
      border: .125rem solid $colorWhite
      border-radius: 2.5rem
      max-width: 5rem
      box-shadow: 0px 3px 2px 0px transparent
      background-color: transparent
      overflow: hidden
      display: flex
      @include transition
  .categories__media
    position: relative
    z-index: -1
    padding-top: 100%
    @include mediaMinWidthMobile
      padding-top: 142%
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $colorSecondary500
      opacity: .4
      z-index: 2
      @include transition
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .categories__layout
    color: $colorWhite
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    padding: 2rem 1.25rem
    max-height: 100%
    gap: 0
    overflow: hidden
    overflow-y: auto
    text-align: center
    display: flex
    flex-direction: column
    @include transform
    @include transition
    @include mediaMinWidthMobile
      padding-bottom: 4rem
      top: auto
      left: 0
      bottom: 0
      transform: unset
    @include mediaMinWidthTabletPort
      gap: 1.75rem
      padding: 2rem 1.5rem
  .categories__main
    display: grid
    text-align: center
    grid-gap: .75rem
    position: relative
    @include mediaMinWidthMobile
      grid-gap: 1rem
    &::before
      width: 5.5rem
      height: .125rem
      content: ""
      position: absolute
      top: calc(100% + 1rem)
      left: 50%
      background-color: rgba(255,255,255,.5)
      @include transform-x
      @include transition
      
    
  .categories__title
    font-weight: 700
    text-transform: uppercase
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    text-shadow: 0 1px .125rem #2B241F99
    &::before,
    &:after
      width: .5rem
      height: .5rem
      border-radius: .5rem
      content: ""
      position: absolute
      top: calc(100% + 1.05rem)
      background-color: rgba(255,255,255,.5)
      @include transform-y
      @include transition
    &::before
      left: calc(50% - 3.25rem)
    &:after
      left: calc(50% + 2.75rem)
  .categories__subtitle
    font-size: 1.25rem
    line-height: 1.5rem
    text-shadow: 0px 0px 5px #2B241F
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden
  .categories__footer
    display: flex
    justify-content: center
  .categories__subtitle,
  .categories__footer
    max-height: 0
    overflow: hidden
    @include transition
    .btn
      width: 11rem
      gap: 0


















