// certificates
.layout__certificates
  .slick-list
    overflow: visible
  .slick-track
    gap: .75rem
    @include mediaMinWidthMobile
      gap: 2rem
  .slick-arrow
    &.slick-prev
      left: 0
      transform: translate(-50%, -50%)
    &.slick-next
      right: 0
      transform: translate(50%, -50%)
  .certificates__item
    width: 20rem
    max-width: calc(100vw - 4rem)
    border-radius: 1.25rem
    opacity: .6
    overflow: hidden
    position: relative
    border: .125rem solid transparent
    box-shadow: 0 .125rem 1.5rem 0 transparent
    transform: translateY(0)
    @include transition
    @include mediaMinWidthMobile
      width: 26.25rem
    @include mediaMinWidthTabletPort
      width: 29.25rem


    &:hover
      border-color: $colorWhite
      box-shadow: 0 .125rem 1.5rem 0 rgba(46, 37, 31, 0.5)
      transform: translateY(-.5rem)
      &::before
        height: 55%
      .certificates__price
        color: $colorQuarty600
      .btn
        opacity: 1
        visibility: visible
    &.slick-current
      &,
      & + .certificates__item,
      & + .certificates__item + .certificates__item
        opacity: 1
    &::before
      content: ""
      position: absolute
      left: 0
      bottom: 0
      opacity: .8
      width: 100%
      height: 0
      background: linear-gradient(0deg, #E8E1CF 70.34%, rgba(236, 232, 226, 0) 96.9%)
      z-index: 2
      @include transition
  .certificates__media
    position: relative
    padding-top: 68%

    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .certificates__tags
    position: absolute
    top: 1rem
    right: 1rem
    max-width: calc(100% - 2rem)
    z-index: 2
    display: flex
    gap: 1rem
    .tags__list
      display: flex
      gap: 1rem
    .tags__item
      cursor: pointer
      &:hover
        .tags__text
          color: $colorSecondary800
          box-shadow: 0px 3px 2px 0px #00000033
          background-color: $colorWhite
    .tags__ico
      stroke: $colorWhite
      width: 2.5rem
      height: 2.5rem
      display: flex
      align-items: flex-start
    .tags__text
      color: $colorWhite
      padding: .5rem 1rem
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 700
      white-space: nowrap
      text-overflow: ellipsis
      border: .125rem solid $colorWhite
      border-radius: 2.5rem
      max-width: 5rem
      box-shadow: 0px 3px 2px 0px transparent
      background-color: transparent
      overflow: hidden
      display: flex
      @include transition
  
  .certificates__layout
    position: absolute
    bottom: 2rem
    left: 1.25rem
    right: 1.25rem
    z-index: 3
    @include mediaMinWidthMobile
      bottom: 2.75rem
      left: 2rem
      right: 1.125rem
    &::before
      content: ""
      position: absolute
      top: calc(100% + 1rem)
      left: 50%
      width: calc(100% - 1.125rem)
      border-top: .125rem dotted $colorQuarty500
      @include transform-x
      @include mediaMinWidthMobile
        top: calc(100% + 1.375rem)
  .certificates__header
    display: flex
    align-items: center
    justify-content: space-between
    &::before,
    &:after
      width: .5rem
      height: .5rem
      border-radius: .5rem
      content: ""
      position: absolute
      top: calc(100% + 1rem)
      background-color: $colorQuarty500
      @include transform-y
      @include mediaMinWidthMobile
        top: calc(100% + 1.45rem)
    &::before
      left: 0
    &:after
      right: 0
  .certificates__price
    color: $colorQuarty500
    font-weight: 600
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  .btn
    position: absolute
    top: calc(50% - 3.25rem)
    left: 50%
    @include transform
    @include transition
    @include mediaMinWidthMobile
      opacity: 0
      visibility: hidden
      flex-shrink: 0
      transform: none
      position: unset

  


















