// CONTACT
.layout__contact
  display: grid
  grid-gap: 3.125rem
  @include mediaMinWidthTabletPort
    grid-gap: 6.25rem
    padding-bottom: 3.75rem
  .contact__map
    width: 100%
    background-color: $colorWhite
    display: flex
    align-items: flex-start
    .map__media
      padding-top: 158%
      width: 100%
      position: relative
      @include mediaMinWidthMobile
        padding-top: 83%
      @include mediaMinWidthTabletPort
        padding-top: 41.6%
      img,
      iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%





  .container
    color: $colorQuarty700
    font-size: 1.5rem
    line-height: 2rem
    grid-gap: 2rem
    display: grid
    justify-content: center
    @include mediaMinWidthTabletPort
      grid-template-columns: 17rem auto
      justify-content: flex-start
      grid-gap: 4rem
      font-size: 1.375rem
      line-height: 2rem
    .contact__media
      width: 20rem

      margin: 0 auto

      @include mediaMinWidthMobile
        width: 26.25rem

      @include mediaMinWidthTabletPort
        width: 17rem
        height: 14.5rem
      .contact__link
        width: 100%
        height: 100%
        display: flex
        align-items: flex-start

      img
        width: 100%
        height: 100%
        object-fit: contain
      

  .contact__section
    display: grid
    grid-gap: 1.25rem
    text-align: center
    @include mediaMinWidthTabletPort
      text-align: left
    &:not(:last-child)
      padding-bottom: 2rem
      margin-bottom: 2rem
      border-bottom: 1px dotted $colorSixty300
      position: relative
      &::before,
      &:after
        width: .5rem
        height: .5rem
        border-radius: .5rem
        content: ""
        position: absolute
        top: 100%
        background-color: $colorSixty300
      &::before
        left: 0
        transform: translate(-100%, -50%)
      &:after
        right: 0
        transform: translate(100%, -50%)
  .contact__header
    text-transform: uppercase
  .contact__main
    max-width: 26.25rem
    margin: 0 auto
    @include mediaMinWidthTabletPort
      max-width: 100%
  .contact__data
    .data__list
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 1rem 2rem
      @include mediaMinWidthTabletPort
        justify-content: flex-start
    .data__item
      gap: .5rem
      display: flex
      flex-wrap: wrap
      justify-content: center
      @include mediaMinWidthMobile
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: flex-start
      &.data__item_secondary
        @include mediaMinWidthTabletPort
          width: 100%
      &.data__item_tertiary
        gap: 1rem

    .data__header
      font-weight: 700
  .contact__socials
    .socials__list
      display: flex
      flex-wrap: wrap
      gap: 1.25rem
    .socials__item
      &:hover
        .socials__ico
          fill: $colorSecondary300
    .socials__link
      width: 3.125rem
      height: 3.125rem
      display: flex
      align-items: flex-start
      img,
      svg
        width: 100%
        height: 100%
    .socials__ico
      fill: $colorSecondary500
      @include transition

















