// POSTER
.layout__poster
  color: $colorWhite
  height: 40rem
  @include mediaMinWidthMobile
    height: 35rem
  @include mediaMinWidthTabletPort
    height: 40rem
  .poster__media
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 1.5rem 1.5rem 0 0
    overflow: hidden
    position: absolute
    display: flex
    align-items: flex-start
    img,
    svg
      width: 100%
      height: 100%
  .poster__layout
    padding: 2rem
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    position: relative
    justify-content: center
    height: 100%
    grid-gap: 2.5rem
    z-index: 2
  .poster__title
    font-size: 2.875rem
    line-height: 2.875rem
    font-weight: 300
    @include mediaMinWidthMobile
      font-size: 4rem
      line-height: 4.5rem
    @include mediaMinWidthTabletPort
      font-size: 4.375rem
      line-height: 4.5rem
    i
      font-style: italic
      font-weight: 100





