// PRODUCTS
.layout__products
  .slick-list
    overflow: visible
  .slick-track
    gap: .75rem
    @include mediaMinWidthMobile
      gap: 2rem
  .slick-arrow
    &.slick-prev
      left: 0
      transform: translate(-50%, -50%)
    &.slick-next
      right: 0
      transform: translate(50%, -50%)
  .products__list
    @include mediaMaxWidthTabletPort
      display: grid
      grid-gap: 1.5rem
      grid-template-columns: 1fr 1fr
    @include mediaMaxWidthMobile
      grid-template-columns: 1fr
  .products__item
    padding: 4rem 0
    border-radius: 1.25rem
    border: .125rem solid transparent
    background: linear-gradient(180deg, #DBD1C4 29.33%, rgba(219, 211, 201, 0) 72.79%)
    box-shadow: 0 .125rem 1.5rem 0 transparent
    display: flex
    flex-direction: column
    text-decoration: none
    overflow: hidden
    position: relative
    transform: translateY(0)
    @include transition
    @include mediaMinWidthTabletPort
      padding: 5rem 0 6.25rem
      width: 23rem
      height: 32.5rem
    &:before
      content: ""
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 100%
      background: linear-gradient(0deg, #DBD1C4 29.33%, rgba(219, 211, 201, 0) 72.79%)
      z-index: 2
    &:after
      content: ""
      position: absolute
      left: 0
      bottom: 0
      opacity: .8
      width: 100%
      height: 0
      background: linear-gradient(0deg, #E8E1CF 70.34%, rgba(236, 232, 226, 0) 96.9%)
      z-index: 2
      @include transition
    &:hover
      border-color: $colorWhite
      box-shadow: 0 .125rem 1.5rem 0 rgba(46, 37, 31, 0.5)
      @include mediaMinWidthTabletPort
        transform: translateY(-.5rem)
      &::after
        height: 55%
      .products__header
        gap: 0 
        &:not(:last-child)
          margin-bottom: .75rem
      .products__subtitle
        max-height: 0
      .products__main,
      .products__footer
        max-height: 10rem
        overflow: visible
        &:not(:last-child)
          margin-bottom: 1rem
  .products__media
    width: 23rem
    max-width: 100%
    padding-top: 100%
    position: relative
    img
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      height: 100%
      max-width: calc(100% - 4rem)
      object-fit: contain
      @include transform
  .products__layout
    position: absolute
    z-index: 2
    max-height: 100%
    padding: 3.5rem 1.5rem 1.25rem
    width: 100%
    left: 0
    bottom: 0
    z-index: 3
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    overflow: hidden
    overflow-y: auto
    @include mediaMinWidthTabletPort
      padding-bottom: 2rem
  .products__header
    display: grid
    gap: .75rem
    @include transition
    &:not(:last-child)
      margin-bottom: 0
  .products__title
    color: $colorQuarty500
    font-weight: 600
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
    text-transform: uppercase
    strong
      font-weight: 800
  .products__subtitle
    color: $colorQuarty400
    font-size: 1.25rem
    line-height: 1.5rem
    max-height: 1.5rem
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    @include transition
  .products__main
    &:not(:last-child)
      margin-bottom: 0
  .products__description
    color: $colorQuarty600
    font-size: 1.125rem
    line-height: 1.25rem
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
    @include mediaMinWidthTabletPort
      font-size: 1.25rem
      line-height: 1.5rem
  .products__main,
  .products__footer
    max-height: 0
    overflow: hidden
    @include transition
  
  .products__tags
    position: absolute
    top: 1rem
    right: 1rem
    max-width: calc(100% - 2rem)
    z-index: 2
    display: flex
    
    gap: 1rem
    .tags__list
      display: flex
      gap: 1rem
    .tags__item
      cursor: pointer
      &:hover
        .tags__text
          color: $colorWhite
          box-shadow: 0px 3px 2px 0px #00000033
          background-color: $colorFifty700
    .tags__ico
      stroke: $colorFifty700
      width: 2.5rem
      height: 2.5rem
      display: flex
      align-items: flex-start
    .tags__text
      color: $colorFifty700
      padding: .5rem 1rem
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 700
      white-space: nowrap
      text-overflow: ellipsis
      border: .125rem solid $colorFifty700
      border-radius: 2.5rem
      max-width: 5rem
      box-shadow: 0px 3px 2px 0px transparent
      background-color: transparent
      overflow: hidden
      display: flex
      @include transition
  
