// site-slider
.layout__slider
  .slick-arrow
    background-color: transparent
    border-color: transparent
    @include mediaMaxWidthMobile
      display: none!important
  .slick-dots
    @include mediaMaxWidthTabletPort
      bottom: 7rem
  .slider__item
    height: 100vh
    position: relative
    display: flex

  .slider__media
    border-radius: 0 0 1.25rem 1.25rem
    top: 0
    left: 0
    height: 100%
    width: 100%
    position: absolute
    overflow: hidden
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%


.slider__layout
  color: $colorWhite
  position: absolute
  padding: 2rem
  width: 100%
  top: 50%
  left: 50%
  text-align: center
  display: grid
  grid-gap: 1.5rem
  @include transform
  .slider__header
    @include mediaMinWidthMobile
      padding: 0 4rem
  .slider__title
    color: rgba(255,255,255,.8)
    font-weight: 250
    font-style: italic
  .slider__text
    color: $colorSecondary300
    font-weight: 300
    font-style: unset
    @include mediaMinWidthMobile
      color: inherit
  .slider__tags
    opacity: .6
    font-family: $secondFont
    .tags__list
      display: flex
      justify-content: center
      flex-wrap: wrap
      gap: 1.125rem 2.5rem
      @include mediaMinWidthMobile
        gap: 1.25rem 4rem
    .tags__item
      font-size: 1.5rem
      line-height: 2rem
      font-weight: 500
      position: relative
      &:not(:last-child)
        &::before
          content: ""
          position: absolute
          top: 50%
          left: calc(100% + 1.25rem)
          width: 1px
          height: 2rem
          background-color: $colorWhite
          @include transform
          @include mediaMinWidthMobile
            left: calc(100% + 2rem)

.slider__scroll
  position: absolute
  z-index: 3
  left: 50%
  bottom: 2.5rem
  @include transform-x
  @include mediaMinWidthTabletPort
    bottom: 4.5rem
  .scroll__link
    width: 2.5rem
    height: 2.5rem
    display: flex
    align-items: flex-start
    @include mediaMinWidthTabletPort
      width: 5rem
      height: 8.25rem
  .scroll__ico
    width: 100%
    height: 100%
    &.scroll__ico_primary
      display: none
      @include mediaMinWidthTabletPort
        display: block
    &.scroll__ico_secondary
      display: block
      @include mediaMinWidthTabletPort
        display: none


