// TEAM
.layout__team
    color: $colorQuarty500
    background-color: $colorFifty300
    border-radius: 1.25rem
    padding: 2rem 2rem 5.5rem
    display: flex
    justify-content: center
    position: relative
    @include mediaMinWidthTabletPort
        color: $colorQuarty700
        padding: 4.5rem 2rem 6rem
.team__background
    display: none
    align-items: flex-start
    position: absolute
    @include mediaMinWidthMobile
        width: 11.25rem

        display: flex
    @include mediaMinWidthTabletPort
        width: 18rem

    &.team__background_before
        bottom: 1rem
        left: .5rem
        align-items: flex-end
        @include mediaMinWidthTabletPort
            bottom: 2.5rem
            left: 2rem
    &.team__background_after
        top: 1rem
        right: .5rem
        align-items: flex-start
        @include mediaMinWidthTabletPort
            top: 2.5rem
            right: 2rem
    img,
    svg
        width: 100%
        object-fit: contain
.team__slider
    max-width: 16.25rem
    position: unset
    @include mediaMinWidthMobile
        max-width: 28.5rem
    .slick-dots
        left: 50%
        right: auto
        bottom: 2rem
        @include transform-x
        button
            background-color: $colorSecondary500
            @include mediaMinWidthTabletPort
                background-color: $colorWhite
    .slick-arrow
        &.slick-prev
            left: 0
            transform: translate(-50%, -50%)
        &.slick-next
            right: 0
            transform: translate(50%, -50%)
.team__media
    width: 10.5rem
    height: 12.375rem
    display: flex
    align-items: flex-start
    margin: 0 auto
    &:not(:last-child)
        margin-bottom: 2rem
        @include mediaMinWidthMobile
            margin-bottom: 1.25rem
    img,
    svg
        width: 100%
        height: 100%
.team__layout
    gap: .75rem
    text-align: center
    display: flex
    flex-direction: column
.team__title
    font-weight: 700
    display: block
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
.team__main
    font-size: 1.25rem
    line-height: 1.5rem
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden








